* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Apple Garamond", "EB Garamond", Garamond, "Book Antiqua", Palatino, serif;
  background: #fafafa;
  color: #333;
  line-height: 1.6;
}

header {
  padding: 2rem 1rem;
  text-align: center;
  background: #008b8b;
  color: #fafafa;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1rem;
  opacity: 0.9;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

p {
  margin-bottom: 1rem;
}


:root {
  --grey: #ccc;
  --shadow: #999;
  --dark-shadow: #444;
}

.btn {
  font-size: 12px;
  color: black;
  font-family: "Chicago", "Geneva", system-ui, sans-serif; 
  background-color: var(--grey);
  
  padding: 3px 15px;
  min-width: 68px;
  height: 20px;
  cursor: pointer;
  
  border: 1px solid var(--dark-shadow);
  border-radius: 3px;
  
  box-shadow: 
    1px 1px 0px var(--dark-shadow),
    inset 1px 1px 0px white;
  
  -webkit-font-smoothing: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;

  transition: all 0s linear;
  transition-delay: 0.15s; 
}

.btn:active {
  background-color: var(--shadow);
  
  box-shadow: 
    0px 0px 0px transparent,
    inset 1px 1px 0px var(--dark-shadow);
  
  transform: translate(1px, 1px);

  transition: none;
  transition-delay: 0s;
}

